body {
    padding: 20px;
    text-align: center;
    padding-left: 6%;
    /* 添加整体内边距，单位可以是像素、百分比等 */
    padding-right: 6%;
    margin: 0;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  h2 {
    text-align: start;
    font-size: 20px;
    margin-bottom: 20px;
  }

  ht {
    font-size: 20px;
    margin-bottom: 20px;
  }

  h3 {
    text-align: start;
    font-size: 18px;
    margin-bottom: 18px;
  }

  h8 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  a {
    color: red;
    text-decoration: none;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .center-image {
    text-align: center;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #cc0000;
  }
  .left-text-container {
    text-align: left;
  }