.rounded_button {
    border-radius: 12px;
    padding: 10px;
    background-color: #69ad6c;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  