.joinBtnContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* 应用动画到图标元素 */
.joinBtnStar {
    display: inline-block;
    font-size: 2px;
    /* 或根据您的图标大小调整 */
    animation: spin 2s linear infinite;
    /* 动画名称、持续时间、速度曲线、循环次数 */
    transform-origin: center center;
    /* 确保围绕自身中心旋转 */
}

.star-left {
    left: -10px;
    /* 调整值，使星星更靠近按钮 */
    animation: spin 2s linear infinite;
}

.star-right {
    right: -10px;
    /* 调整值，使星星更靠近按钮 */
    animation: spin 2s linear infinite;
}

/* 定义旋转动画 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.joinBtn {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #357be6;
    color: white;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.joinBtn:hover {
    background-color: #3a7baa;
}

.joinBtn .icon {
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}